OneDrive/Área de Trabalho/FIAP/1TDSS-2022/Z-GLOBAL-SOLUTION/GL_AI_CHATBOT/BOTMC.json
[{"id":"c653a5df15268ef5","type":"tab","label":"Prova semestral","disabled":false,"info":"","env":[]},{"id":"b5e06789ce94ae6f","type":"function","z":"c653a5df15268ef5","name":"Prepara_STT","func":"msg.chatId = msg.payload.chatId;\n\nmsg.payload = msg.payload.weblink;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":260,"wires":[["359db4adfb318978"]]},{"id":"0e5f37aa0f82546a","type":"function","z":"c653a5df15268ef5","name":"Prepara_Watson","func":"msg.params = {\n    \"session_id\" : msg.chatId\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":260,"wires":[["bea50333c3ed2630"]]},{"id":"b8ee5e04dc79818d","type":"switch","z":"c653a5df15268ef5","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"photo","vt":"str"},{"t":"eq","v":"video","vt":"str"},{"t":"eq","v":"gif","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":410,"y":460,"wires":[["b5e06789ce94ae6f"],["ce9b4c243b3ced77"],["ce9b4c243b3ced77"],["ce9b4c243b3ced77"],["ce9b4c243b3ced77"]]},{"id":"e462a3a86c2bd3f8","type":"watson-text-to-speech","z":"c653a5df15268ef5","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"pt-BR_IsabelaV3Voice","format":"audio/wav","password":"","apikey":"7u_LwpzjKmb5GckMRIuPCKKo5dTANEPVU99U9VYXskyQ","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/dc104e55-601b-4884-a0cb-f5f11a01fef8","x":1060,"y":420,"wires":[["f219489fd302946c"]]},{"id":"f219489fd302946c","type":"function","z":"c653a5df15268ef5","name":"Prepara_Telegram","func":"msg.payload = {\n    \"chatId\" : msg.chatId,\n    type : \"voice\",\n    content : msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":520,"wires":[["34db16b9a0280736"]]},{"id":"34db16b9a0280736","type":"telegram sender","z":"c653a5df15268ef5","name":"","bot":"df09bc5f.e3b3d","haserroroutput":false,"outputs":1,"x":1390,"y":540,"wires":[[]]},{"id":"d656e2cfe65a1b88","type":"function","z":"c653a5df15268ef5","name":"Prepara_TTS","func":"if(msg.validar){\n   \n    msg.payload = \"Olá, Meus criadores ainda não me ensinaram a ver imagens\"\n    \n\n}else if(msg.payload.output.generic[0].response_type == \"suggestion\"){\n    let mensagem = \"Acho que não entendi, Tenho sugestões para você: \";\n    \n    for(let i = 0; i < msg.payload.output.generic[0].suggestions.length; i++){    \n        \n        mensagem += msg.payload.output.generic[0].suggestions[i].label + \"\\n\";\n        \n        // msg.payload = msg.payload.output.generic[0].suggestions[i].label;\n\n    }\n    msg.payload = mensagem;\n\n}else{\n    msg.payload = msg.payload.output.generic[0].text;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":320,"wires":[["e462a3a86c2bd3f8","e443531cb4bcacbd"]]},{"id":"ce9b4c243b3ced77","type":"function","z":"c653a5df15268ef5","name":"Response txt","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nmsg.validar = true\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":500,"wires":[["d656e2cfe65a1b88"]]},{"id":"e208d588d3c13337","type":"telegram receiver","z":"c653a5df15268ef5","name":"","bot":"df09bc5f.e3b3d","saveDataDir":"","filterCommands":false,"x":90,"y":460,"wires":[["b8ee5e04dc79818d"],[]]},{"id":"359db4adfb318978","type":"watson-speech-to-text","z":"c653a5df15268ef5","name":"STT","alternatives":1,"speakerlabels":true,"smartformatting":true,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":true,"password":"","apikey":"PI4B4zuQf7N2MvQZb5v-EXa5vpBKfzBbhCqAoqXJHcGO","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/72de914b-f9ea-4740-bef8-8418648eb940","x":650,"y":320,"wires":[["0e5f37aa0f82546a"]]},{"id":"bea50333c3ed2630","type":"watson-assistant-v2","z":"c653a5df15268ef5","name":"IBM Melhores compras","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/2328151f-5870-4838-8510-1f9022f3a288","assistant_id":"b47e41f0-32b7-4680-aa92-63d61dbe3b34","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":1030,"y":260,"wires":[["d656e2cfe65a1b88"]]},{"id":"e443531cb4bcacbd","type":"watson-translator","z":"c653a5df15268ef5","name":"Tradutor","action":"translate","basemodel":"ar-en","domain":"general","srclang":"pt","destlang":"en","password":"","apikey":"keuDvJgCYTnOu5oypq9xSxKxiT6n4MF3xeGN9eAOXysf","custom":"","domainhidden":"general","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/090718fa-b521-415c-9b66-5bcb066c9019","x":1300,"y":280,"wires":[["e49904eefe38941d"]]},{"id":"e49904eefe38941d","type":"watson-text-to-speech","z":"c653a5df15268ef5","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_EmilyV3Voice","voicehidden":"en-US_EmilyV3Voice","format":"audio/wav","password":"","apikey":"7u_LwpzjKmb5GckMRIuPCKKo5dTANEPVU99U9VYXskyQ","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/dc104e55-601b-4884-a0cb-f5f11a01fef8","x":1300,"y":360,"wires":[["f219489fd302946c"]]},{"id":"df09bc5f.e3b3d","type":"telegram bot","botname":"@LuanR_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]